p{
    box-sizing: border-box;
    border: 2px solid black;
    background-color: grey;
    width: 500px;
    
    padding: 20px;
}
.child1{
    min-height: 100px;
}
.child2{
    min-height: 200px;
}
.block{
    background-color: yellow;
    /* box-sizing: border-box; */
    padding: 20px;
    flex-wrap: wrap;
    display:flex;
    /* justify-content: space-between; */
    align-items: start;
    align-content: center;
    height: 500px;
    
}