*{
    font-size: 16px;
}
p {
    background: yellow !important;
}
p {
    background: red;
    font-size: 30px;
    max-width: 10ch;
}
.myBtn {
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    width: 200px;
    height: 100px;
    background-color: rgb(111, 111, 228);
    border: 10px double black;
}
.myBtn:hover {
    background-color: rgb(42, 42, 125);
}
article{
    color: red;
    background-color: green;
}
a{
    text-decoration: none;
    color: inherit;
}
.rem{
  font-size: 1rem;
  /* font-size: 16px; */
}
.px{
    font-size: 16px;
    
}
.block{
    background-color: black;
    width:50vw ;
    height: 50vh;
    transform: rotate(45deg) translate(50vw);
}