p{
    box-sizing: border-box;
    border: 2px solid black;
    background-color: grey;
    
    max-height: min-content;
    
    padding: 20px;
    /* display: inline; */
}
body{
    margin: 0;
}

.child1{
    /* min-height: 100px; */
    /* align-self: stretch; */
    
}
.child2{
    /* min-height: 200px; */
    /* width: 200rem; */
}
.block{
    background-color: yellow;
    /* box-sizing: border-box; */
    padding: 20px;
    display:flex;
    /* flex-wrap:wrap; */
    flex-direction: row;
    
    flex: none ;
   height: 100vh;

    justify-content: center;
    align-items: center;
    /* align-content: center; */
    /* height: 500px; */
    
}